<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.msa.store.mapper.UserMapper">

    <select id="findById" resultType="userJpo" parameterType="java.lang.String">
        SELECT *
        FROM USER
        WHERE
        ID = #{id}
    </select>

    <select id="totalCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM USER
    </select>

    <select id="findByCondition" resultType="userJpo" parameterType="userJpo">
        SELECT * FROM USER
        <include refid="base_where_list" />
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="userJpo">
        SELECT COUNT(*) FROM USER
        <include refid="base_where_list" />
    </select>

    <sql id="base_where_list">
        <where>
            <if test="id != null and id != ''" >
                AND ID = #{id}
            </if>
            <if test="name != null and name != ''" >
                AND NAME = #{name}
            </if>
            <if test="email != null and email != ''" >
                AND EMAIL = #{email}
            </if>
<!--            <if test="groupId != null and groupId != ''" >-->
<!--                AND GROUP_ID = #{groupId}-->
<!--            </if>-->
<!--            <if test="startDate != null and endDate != null " >-->
<!--                AND a.REG_DT BETWEEN date_format(concat(#{startDate},'000000'), '%Y-%m-%d %H:%i:%s') AND date_format(concat(#{endDate},'235959'), '%Y-%m-%d %H:%i:%s')-->
<!--            </if>-->
        </where>
    </sql>

    <update id="update" parameterType="userJpo">
        UPDATE USER
        <set>
            <if test="name != null"> NAME = #{name}, </if>
            <if test="email != null"> EMAIL = #{email}, </if>
            <if test="password != null"> PASSWORD = #{password}, </if>
        </set>
        WHERE
        ID = #{id}
    </update>

    <insert id="insert" parameterType="userJpo">
        INSERT INTO USER ( ID, NAME, EMAIL, PASSWORD, REG_DT )
        VALUES ( #{id}, #{name}, #{email}, #{password}, now() )
    </insert>

    <delete id="delete" parameterType="userJpo">
        DELETE FROM USER WHERE ID = #{id}
    </delete>
</mapper>
